
<body data-spy="scroll" data-target="#coverr-navbar" data-offset="100">

	<nav style="position: fixed; width: 100%; height: 100px;  background-color:#ed8c1e; box-shadow:1 1 1 black;" class="navbar navbar-default navbar-coverr navbar-fixed-top">
    <div class="container" style=" background-color:#ed8c1e;   opacity: 1;width: 98%; height: 100px; padding-top: 17px; background-color:transparent;">
        <div class="navbar-header" >
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#home"><img src="/image/logo.png" style=" width:250px; padding-left: 10px;" alt=""/></a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right" style="    padding-top: 10px;padding-right: 10px;">
            

                <li><a  style="color:#ed8c1e; font-size: 15px; font-weight:900;" class="coverr-nav-item" href="#newsletter">ABOUT</a></li>
                <li><a  style="color:#ed8c1e; font-size: 15px; font-weight:900;" class="coverr-nav-item" href="#newsletter">PLAN</a></li>
                <li><a  style="color:#ed8c1e; font-size: 15px; font-weight:900;" class="coverr-nav-item" href="#newsletter">APPLY</a></li>
            </ul>
        </div>

    </div>
</nav>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="home" class="homepage-hero-module jumbotron" style="padding: 0; margin-bottom: 0;">
    <div class="video-container">


        <div class="title-container">
            <div style="padding-left: 30px; padding-right: 30px;" class="headline">
                <h1 style="font-weight: 700" class="text-white text-thin"><br>해커톤에서 피칭까지 <br>멋사의 <span style="color: #ef9228">해커데이</span>를 소개합니다</h1>
                <h3 style="font-weight: 500; font-size: 150%;" class="text-white text-thin">제1회 해커데이 참가팀 모집중</h3>
            </div>
        </div>

<video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/For_Wes.jpg" style="width: 1438px;">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/For_Wes.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/For_Wes.mp4" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        
        <div style="position: absolute; bottom: 20px; left: 50%; margin-left: -19px;">
            <a class="coverr-nav-item" href="#coverrs" style="text-decoration: none;">
                <h1 class="text-white">

                </h1>
            </a>
        </div>
        <div class="poster hidden">
            <img src="/Hello-World/Hello-World.jpg" alt="">
        </div>
        <div style="position: absolute; bottom: 10px; left: 20px;">
            <a id="topDownloadButton" class="btn btn-success btn-download" data-name="" href="#" style="display: none; background-color: transparent; border-color: #ffffff; border: 2px solid #fff; font-size: 20px" data-location="top"><i class="fa fa-download"></i> Download</a>
        </div>
        <div style="position: absolute; bottom: 20px; left: 50%; margin-left: -19px;">
            <a class="coverr-nav-item" href="#coverrs" style="text-decoration: none;">
                <h1 class="text-white">

                </h1>
            </a>
        </div>        
    </div>
</div>



    <div style="background:#edeaea; width:100%;">
      <div class="container" style=" padding-top:65px;padding-bottom:55px;">
        <div class="row">
            <div style="text-align: center;" class="col-md-6"> <img style="width: 55%; padding-top: 10px; padding-bottom: 20px;" src="/image/intro.png"/> </div>
            <div class="col-md-5"> <h2 class="title" style="font-weight: 900;color:#ed8c1e;"> 해커데이(Hacker Day)는? </h2>
            <h4 class="text" style="  line-height:170%; "> 해커데이는 멋쟁이사자처럼(likelion)이 운영하는 해커톤과 데모데이를 아우르는 연례행사입니다. 멋쟁이사자처럼의 회원은 팀을 구성해 자유롭게 지원할 수 있으며, 예선평가에서 선발된 10개의 팀은 해커톤에서 제작한 제품을 발전시켜 데모데이에 참여할 수 있는 기회가 주어집니다.  </h4> </div>
        
        </div>
    </div>
    </div>
    
               <div class="container" style="padding-top: 50px;">
							<div class="row" style="text-align: center;">
								<h1 style="font-size: 200%; font-weight: 900; color: #ed8c1e;" >해커데이의 특징</h1><br>
								<div class="col-sm-4 col-xs-12 col-sm- 12" style="text-align: center;">
										<br><img style="max-width: 50% "  src="http://likelion.net/images/about/icon_01.png" class="image-body"><br><br>
									<div class="text-head"><h3 style="font-weight: 800; color:#ed8c1e; "class="text-head">해커톤과 데모데이</h3></div>
									<h4 class="text-body" style="  line-height:170%;">
										HTML/CSS부터 jQuery와 같은 프론트엔드 기술과 ruby/rails와 같은 Web Framework를 공부합니다.
									</h4>
								</div>
										<div class="col-sm-4 col-xs-12 col-sm- 12" style="text-align: center;">
									<br><img style="max-width: 50% "  src="http://likelion.net/images/about/icon_02.png" class="image-body"><br><br>
										<div class="text-head"><h3 style="font-weight: 800; color:#ed8c1e; " class="text-head">온라인과 오프라인</h3></div>

									<h4 class="text-body" style="  line-height:170%;">
										HTML/CSS부터 jQuery와 같은 프론트엔드 기술과 ruby/rails와 같은 Web Framework를 공부합니다.
									</h4>
								</div>
									<div class="col-sm-4 col-xs-12 col-sm- 12" style="text-align: center;">
									<br><img style="max-width: 50% "  src="http://likelion.net/images/about/icon_03.png" class="image-body"><br><br>
										<div class="text-head"><h3 style="font-weight: 800; color:#ed8c1e; " class="text-head">상품화를 위한 피드백</h3></div>
                                	<h4 class="text-body" style="  line-height:170%;">
										HTML/CSS부터 jQuery와 같은 프론트엔드 기술과 ruby/rails와 같은 Web Framework를 공부합니다.
									</h4>

								</div>
							</div>
						</div>
						
						
						
	      <div style="background:#edeaea; width: 100%; margin-top: 60px; ">
 <div class="container" style="padding-top: 50px;">
							<div class="row" style="text-align: center;">
							
							
							<h1 style="font-size: 200%; font-weight: 900; color: #ed8c1e;" >심사단 및 후원사</h1><br>
								<div class="col-sm-4 col-xs-12 col-sm- 12" style="text-align: center;">
										<br><img style="max-width: 50% "  src="/image/sponsor.png" class="image-body"><br><br>
									<div class="text-head"><h3 style="font-weight: 800; color:#ed8c1e; "class="text-head">구글캠퍼스</h3></div>
									<h4 class="text-body" style="  line-height:170%;">
										HTML/CSS부터 jQuery와 같은 프론트엔드 기술과 ruby/rails와 같은 Web Framework를 공부합니다.
									</h4>
								</div>
										<div class="col-sm-4 col-xs-12 col-sm- 12" style="text-align: center;">
										<br><img style="max-width: 50% "  src="/image/sponsor2.png" class="image-body"><br><br>
										<div class="text-head"><h3 style="font-weight: 800; color:#ed8c1e; " class="text-head">옐로모바일</h3></div>

									<h4 class="text-body" style="  line-height:170%;">
										HTML/CSS부터 jQuery와 같은 프론트엔드 기술과 ruby/rails와 같은 Web Framework를 공부합니다.
									</h4>
								</div>
									<div class="col-sm-4 col-xs-12 col-sm- 12" style="text-align: center;">
										<br><img style="max-width: 50% "  src="/image/sponsor3.png" class="image-body"><br><br>
										<div class="text-head"><h3 style="font-weight: 800; color:#ed8c1e; " class="text-head">본앤젤스</h3></div>
                                	<h4 class="text-body" style="  line-height:170%;">
										HTML/CSS부터 jQuery와 같은 프론트엔드 기술과 ruby/rails와 같은 Web Framework를 공부합니다.
									</h4>
<br><br><br><br><br>
								</div>
							</div>
						</div>
    </div>
    
    
    <br><br><br>

    <div class="container" style="padding-top: 20px;">
        <div class="row" style="text-align: center;">
           <div class="col-md-12" style="text-align: center;">
           <img style="max-width: 100% " src="http://likelion.net/images/about/day.png">
       
           </div>
           
           
        </div>
    </div>

    	      <div style="background:#edeaea; width: 100%; margin-top: 60px; ">
        <div style="width:100%;">
      <div class="container" style=" padding-top:65px;padding-bottom:55px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12"> 
            <div class="form-style-6" style="text-align: center;">
	<h1 style="font-size: 200%; font-weight: 900; color: #ed8c1e;" >해커데이 지원하기</h1><br>
<form>
<input type="text" name="field1" placeholder="학교" />
<input type="text" name="field1" placeholder="팀 이름" />
<input type="email" name="field2" placeholder="대표자 이메일" />
<input type="submit" value="제출하기" /> <br><br><br><br><br>
</form>
</div>
            
            
        </div>
    </div>
    </div>
    </div>
    </div>
    

  


<div class="col-md-1 col-md-offset-10 col-xs-12 col-sm-12">
<a href="#top">
<div id="gotoTop" class="icon-angle-up" style="padding-top: 18px;font-size: 50px; font-weight: 700; color: white; display: block;">^</div>
</a>
</div>

