 <!-- Navigation -->
 
   <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" >
        <div class="container"  style="width: 93%;">
            <div class="navbar-header" >
                <button style="color: #EB8E34;" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                   <a  class="navbar-brand page-scroll" href="#page-top" style="padding-left: 5px;">
                    <image id="top_logo" src="/image/logo.png" style="padding-top: -2px;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse" style="padding-top: 12px;">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                    </li>
                    <li>
                        <a id="11" class="page-scroll" href="#intro">행사소개</a>
                    </li>
                    <li>
                        <a id="11" class="page-scroll" href="#process">진행방식</a>
                    </li>
                    <li>
                        <a id="11" class="page-scroll" href="#timeline">일정</a>
                    </li>
                    <li>
                        <a id="11" class="page-scroll" href="#login">입장하기</a>
                    </li>
            
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

      <div class="row-table row-full-height text-center" style="position:relative; width:100%; background-image: url('/image/background.jpg'); background-size: cover;">
        <div class="col-sm-12 col-middle" style="margin-top:20%; margin-bottom:auto;">
          <div class="text-jumbo text-contrast text-branding" style="color:#EC9F44">
            <h1 style="font-weight: 9x00; padding: 40px 20px 0px 20px;">멋사 아이디어톤에 여러분을 초대합니다</h1>
          </div>
          <div class="h3 text-contrast space-3" style="color: #DCDCDC; margin-top:0px;">
           <h3 style="font-weight: 500; padding: 0px 30px 0px 30px;">아이디어톤 소개 영상보기</h3>
          </div>
          <div>
          <a href="#" data-prevent-default="" id="belong-play-button" class="link-reset">
            <i class="belong-anywhere__icon icon icon-video-play text-contrast text-jumbo"></i>
            <span class="screen-reader-only">
            </span>
          </a>
        </div>
      </div>

    <!-- Intro Header -->
  
    <!-- About Section -->
 
    <div id="intro" style="background-color:#454545;height:60px; margin-bottom:0px; ">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; box-shadow: 0px 5px 5px #888888;">
        <h3 style="line-height:60px; margin-bottom: 0px; margin-top: 0px; color:#EDA045;font-weight: 800;">아이디어톤(IDEATHON) 소개</h3>
        </div>
    </div>
    <div style="width:100%; background-image:url('/image/back_content_1.png'); background-size: cover; background-repeat: no-repeat;">
      <div  class="container" style="padding-top:45px;padding-bottom:55px;">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-12" style="margin-top: 0px;padding: 25px 0px 30px 0px; vertical-align; text-align:center;"> <img style="width: 70%;" src="/image/intro.png"> </div>
            <div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-12" style="margin-bottom: 30px;"> <h4 class="text" style="padding: 15px 15px 0 15px; line-height:170%; letter-spacing:0px "> <p style="line-height:220%; margin:0px; color:#EB8E34; font-weight:900;"> '상상이 현실이 되는, 멋사의 아이디어톤'</p>
            아이디어톤의 목적은 코딩만 하기 바빠 뒤로 미뤄져 있던 자신이 만들고 싶은 아이템에 대한 생각을 구체화하는 것입니다. 교육이 끝나고 그제서야 해커톤에서 보여주기 위해 아이디어와 코딩을 둘 다 하기엔 바쁘고 힘들 것입니다. 아이디어톤은 여러분들의 이러한 일거리를 분할시키기 위해 그리고 얼마 남지 않은 멋쟁이 사자처럼 해커톤에서 좀 더 준비된 모습으로 입장하기 위한 하나의 발판입니다.  </h4> </div>
        
            <div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-12" style=" padding: 25px 0px 30px 0px; vertical-align; text-align:center;"> <img style="width: 80%;" src="/image/process.png"> </div>
            <div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-12"> <h4 class="text" style="padding: 15px 15px 0 15px; line-height:170%; letter-spacing:0px "> <p style="line-height:220%; margin:0px; color:#EB8E34; font-weight:900;"> ‘아이디에이션, 팀 리빌딩, 그리고 피칭까지'</p>
            혼자만 갖고 있던 생각을 구체화하고 발전시키기 위해 여러 사람들과 공유합니다. 생각이 아이디어가 되기 위한 발판이 되는 기회죠. 또한 여러분의 아이디어가 서비스로 만들어내는 과정을 함께 할 친구를 찾을 수 있습니다. 마지막으로 멋쟁이 사자들을 비롯한 여러 사람들 앞에서 당신의 아이디어를 발표할 기회를 가질 수 있습니다. 이 모든 과정을 통해 한 걸음 더 성장한 멋쟁이 사자가 되길 바랍니다.  </div> 
            
        </div>
      </div>
     </div>

    <!-- Download Section -->
    
   <div style="background-color:#454545;height:60px; margin-bottom:0px; ">
     <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; box-shadow: 0px 5px 5px #888888;">
        <h3 style="line-height:60px; margin-bottom: 0px; margin-top: 0px; color:#EDA045;font-weight: 800;">멋사 아이디어톤의 핵심가치</h3>
        </div>
    </div>
     <div style="width:100%; background-image:url('/image/back_content_1.png'); background-size: cover; background-repeat: no-repeat;">
      <div  class="container" style="padding-top:45px;padding-bottom:55px;">
        <div class="row">
          
          	<div class="col-sm-3 col-xs-6 col-sm- 6" style="text-align: center; padding: 15px 10px 0px 10px;">
					<br><img style="max-width: 50% "  src="/image/value_1.png" class="image-body"><br><br>
				<div class="text-head"><h4 class="text" style="padding: 15px 15px 0 15px; line-height:170%; letter-spacing:0px "> <p style="line-height:220%; margin:0px; color:#EB8E34; font-weight:900;"> 아이디어(IDEA)</p>
             아이디어 게시판에서 소통하며 아이디어를 구체화하고 검증할 수 있습니다.</div> 
            
			</div>
			<div class="col-sm-3 col-xs-6 col-sm-6" style="text-align: center; padding: 5px 0px 0px 0px;">
					<br><img style="max-width: 50% "  src="/image/value_2.png" class="image-body"><br><br>
				<div class="text-head"><h4 class="text" style="padding: 15px 10px 0 10px; line-height:170%; letter-spacing:0px "> <p style="line-height:220%; margin:0px; color:#EB8E34; font-weight:900;"> 팀워크(TEAMWORK)</p>
            함께 발전시키고 싶은 아이디어를 발견하면 팀빌딩을 제안할 수 있습니다.</div> 
            
			</div>
	
		<div class="col-sm-3 col-xs-6 col-sm- 6" style="text-align: center; padding: 15px 10px 0px 10px;">
					<br><img style="max-width: 50% "  src="/image/value_3.png" class="image-body"><br><br>
				<div class="text-head"><h4 class="text" style="padding: 15px 15px 0 15px; line-height:170%; letter-spacing:0px "> <p style="line-height:220%; margin:0px; color:#EB8E34; font-weight:900;"> 스피치(SPEECH)</p>
            온라인 투표에서 선발된 20팀은 오프라인에서 아이디어 피칭을 할 수 있습니다.</div> 
            
			</div>
			<div class="col-sm-3 col-xs-6 col-sm- 6" style="text-align: center; padding: 15px 10px 0px 10px;">
					<br><img style="max-width: 50% "  src="/image/value_4.png" class="image-body"><br><br>
				<div class="text-head"><h4 class="text" style="padding: 15px 15px 0 15px; line-height:170%; letter-spacing:0px "> <p style="line-height:220%; margin:0px; color:#EB8E34; font-weight:900;"> 리워드(REWARD)</p>
            아이디어 피칭 날 선정된 10팀에게는 소정의 상금과 스타트업 대표와의 만남 기회가 주어집니다.</div> 
            
			</div>
          
        </div>
      </div>
     </div>
      
     
    <!-- Contact Section -->
    
       <div id="process" style="background-color:#454545;height:60px; margin-bottom:0px; ">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; box-shadow: 0px 5px 5px #888888;">
            <h3 style="line-height:60px; margin-bottom: 0px; margin-top: 0px; color:#EDA045;font-weight: 800;">아이디어톤 진행방식</h3>
        </div>
       </div>
     <div style="width:100%; background-image:url('/image/back_content_1.png'); background-size: cover; background-repeat: no-repeat;">
      <div  class="container" style="padding-top:45px;padding-bottom:55px;">
        <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <ul class="collapsible collapsible-accordion" data-collapsible="accordion" style="list-style:none; padding-left: 0px;">
          <li class="active">
            <div class="collapsible-header active" style="background-size: cover; background-repeat: no-repeat;"><span style="color:#EDA045;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;아이디어 등록</div>
            <div class="collapsible-body" id="block" style="display: block;">
            <h4 class="text" style="line-height:200%; letter-spacing:0px;">
            - 이름, 카카오톡 아이디, 이메일 주소 등의 개인정보를 입력합니다. 연락처는 팀빌딩 제안을 위해 필요한 정보 이외의 용도로는 사용할 수 없습니다. <br>
            - 서비스명과 한 줄 설명, 상세 설명을 작성합니다. <br>
            - 메인 페이지를 캡처해 이미지 파일을 첨부합니다. 메인 페이지 구성을 손으로 그려 촬영한 이미지도 가능합니다.<br>
            - 최대 3개의 태그를 등록할 수 있습니다. 태그는 아이디어 검색에 사용됩니다.<br>
            </h4></div>
            
            <li> <div class="collapsible-header active" style="background-size: cover; background-repeat: no-repeat;"><span style="color:#EDA045;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 명예의 전당</div>
            <div class="collapsible-body" id="block" style="display: block;">
            <h4 class="text" style="line-height:200%; letter-spacing:0px;">
           - 하루 동안 '좋아요'를 가장 많이 받은 아이디어는 다음날 24시간 동안 '명예의 전당' 페이지에 올라갑니다. <br>
            - 명예의 전당에 올라간 팀은 최종 더 많은 사람들의 관심을 받을 기회가 생깁니다.<br>
            - 많은 사람들의 댓글을 받아 더 많은 피드백을 받을 수 있습니다.<br>
            - 각 아이디어는 명예의 전당에 최대 한 번만 올라갈 수 있습니다.<br>
            - 명예의 전당에 올라간 팀에게는 소정의 상품이 제공됩니다.
            </h4></div></li>
            
            
          </li>
          <li class="">
            <div class="collapsible-header active" style="background-size: cover; background-repeat: no-repeat;"><span style="color:#EDA045;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;팀 빌딩</div>
            <div class="collapsible-body" id="block" style="display: block;">
            <h4 class="text" style="line-height:200%; letter-spacing:0px;">
            - 팀을 다시 만드는 것보다 기존의 스터디팀을 이어가는 것을 권장합니다. <br>
            - 전공자는 가급적 팀당 최대 2인으로 제한합니다. (기존 스터디팀을 유지하는 경우 허용 가능) <br>
            - 오프라인 회의 및 모임에 어려움이 없도록 거주 지역을 고려합니다.<br>
            - 아이디어가 비슷하다고 무조건 한 팀이 될 필요는 없습니다. 여러 면을 고려하고 상의하여 팀을 결정합니다.<br>
            </h4></div>
          <li>
            <div class="collapsible-header active" style="background-size: cover; background-repeat: no-repeat;"><span style="color:#EDA045;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;온라인 투표</div>
            <div class="collapsible-body" id="block" style="display: block;">
            <h4 class="text" style="line-height:200%; letter-spacing:0px;">
                        - 아이디어 공유 기간 중 발전 가능성이 높고, 독창적인 아이디어에 좋아요를 누릅니다.<br>
            - 좋아요를 누른 아이디어는 투표 후보 목록에 모두 들어가게 됩니다.<br>
            - 투표 기간(8월 24일~25일) 이내에 투표 후보 목록에서 투표할 아이디어를 최종 결정합니다. <br>
            - 최소 3개, 최대 20개의 아이디어에 투표할 수 있습니다.<br>
            - 투표 후보 목록에서 최종 투표할 아이디어만 남긴 후 ‘확정’ 버튼을 클릭하면 투표가 완료됩니다.  <br>
            - 투표가 종료되면 득표 순위로 상위 20개 아이디어를 선정합니다.<br>
            - 상위 20개 아이디어를 가장 많이 맞힌 5명에게 상품을 제공합니다. <br>
              단, 본인이 투표한 아이디어가 ‘모두’ 상위 20개 아이디어에 포함되어야 합니다.<br>
              예) 19개의 아이디어에 투표해서 18개를 맞혔는데 1개 아이디어가 순위권에 들지 
              못한 경우 정답을 맞히지 못한 것으로 간주합니다.<br>
              예) 5개의 아이디어에 투표했는데 5개가 모두 순위권에 든 경우 정답을 맞힌 것으로 간주합니다.<br>
            - 동점자가 생길 경우 추첨을 통해 5명을 뽑습니다.<br>
            </h4></div>            <li>
            <div class="collapsible-header active" style="background-size: cover; background-repeat: no-repeat;"><span style="color:#EDA045;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;게시판 운영</div>
            <div class="collapsible-body" id="block" style="display: block;">
            <h4 class="text" style="line-height:200%; letter-spacing:0px;">
            - 아이디어는 게시된 시간, '좋아요' 개수에 관계없이 무작위로 보여집니다. <br>
            - 게시한 아이디어는 아이디어 공유기간 이내에 언제든지 수정이 가능합니다. <br>
            - 이미 본 아이디어는 게시물 우측 상단에 표시가 됩니다.<br>
            - 타인의 아이디어에는 자유롭게 '좋아요'를 누를 수 있습니다.<br>  
            - 모든 게시물의 '좋아요'는 매일 자정 초기화됩니다.<br>
            - 매일 '좋아요'가 초기화 됨에 따라 기존에 게시된 아이디어와 새로 게시되는 아이디어가 공평한 경쟁 기회를 갖게 됩니다.
            </h4></div>
          <li>
            <div class="collapsible-header active" style="background-size: cover; background-repeat: no-repeat;"><span style="color:#EDA045;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;아이디어 피칭</div>
            <div class="collapsible-body" id="block" style="display: block;">
            <h4 class="text" style="line-height:200%; letter-spacing:0px;">
            - 투표를 통해 선정된 상위 20팀은 오프라인에서 아이디어 피칭을 할 기회를 얻습니다. <br>
            - 평가단 및 멋쟁이 사자들 앞에서 자신의 아이디어를 소개하고, 개발방향에 대한 발표를 진행합니다.<br>
            - 당일 선발을 통해 상위 10팀을 선정합니다.<br>
            - 상위 10팀은 소정의 상금과 스타트업 대표와의 저녁식사 시간을 갖습니다.
            </h4></div></li>
          <li>
            <div class="collapsible-header active" style="background-size: cover; background-repeat: no-repeat;"><span style="color:#EDA045;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주의사항</div>
            <div class="collapsible-body" id="block" style="display: block;">
            <h4 class="text" style="line-height:200%; letter-spacing:0px;">
           - 아래 행위들이 적발될 경우 해커톤 참여자격 박탈 및 심사대상에서의 제외 등 불이익을 받을 수 있습니다.<br>
            &nbsp;&nbsp;* 타인의 아이디어를 도용하는 행위<br>
            &nbsp;&nbsp;* 투표 시 특정 팀에게 투표를 강요 및 종용하는 행위<br>
            &nbsp;&nbsp;* 소속 팀원이 아닌 타인(전문가)이 개발에 직접적인 도움을 주는 경우
            </h4></div></li>
            
        
        </ul>
        </div>        
        
        </div>
      </div>
     </div>




      <div id="timeline" style="background-color:#454545; height:60px; margin-bottom:0px; ">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; box-shadow: 0px 5px 5px #888888;">
            <h3 style="line-height:60px; margin-bottom: 0px; margin-top: 0px; color:#EDA045;font-weight: 800;">아이디어톤 일정</h3>
        </div>
       </div>
     <div style="width:100%; background-image:url('/image/back_content_1.png'); background-size: cover; background-repeat: no-repeat;">
      <div  class="container" style="padding-top:45px;padding-bottom:0px;">
         <div class="row">
           <div class="col-md-8 col-md-offset-2" style="padding-bottom: 20px;">
             <img style="width: 100%; padding: 20px 10px 50px 0px; margin-left: 10px;" src="/image/timeline.png">
           </div>
         </div>

      </div>

    </div>
    
    <div style="background-color: #A3A3A3; height: 200px; text-align: center; padding-top: 44px;">
            <a href="http://hackathon-woodykim-1.c9.io/article_board/main_board" target="_blank">
                <div id="login"  class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="font-weight: 800; line-height:100px;">
                    공식페이지 입장하기 
                </div>
            </a>
     </div>
<div class="container" style="width:100%; margin-top: 0px; background-color: #2D2D2D; height: auto; color: #EB8E34;">
  <div class="row" style="padding: 30px 0px 30px 0px; line-height: 30px;">
    <div class="col-md-4 col-md-offset-0 col-xs-offset-2 col-sm-offset-2 col-xs-8 col-sm-8 " style="padding-bottom: 8px; text-align: center;">
        <span style="font-weight: 800; text-align:center;"> LIKELION IDEATHON</span>
          | Copyright @Likelion.net 2015
    </div>
    <div class="col-md-2 col-md-offset-6 col-xs-12 col-sm-12" style=" text-align: center;">
     <a href="https://www.facebook.com/ " target="_blank">
     <img style="width: 30px" src="/image/facebook.png">   </a>
    </div>
  </div>
    
    
   

    <!-- Footer -->

  <!-- jQuery -->
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>