<% if @flag==0 %>
   <center><h1>비밀번호가 틀렸습니다. 다시 입력해주세요.</h1></center>
   <center><a href = "https://hackathon-woodykim-1.c9.io/article_board/pw_chk_process_d/<%= @this_post.id %>">돌아가기</a></center>  
<%else%>
   <center><h1>글이 삭제되었습니다</h1></center>
   <center><a href = "https://hackathon-woodykim-1.c9.io/article_board/mainpage">목록보기</a></center>
<%end%>
