
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/article_board/pw_chk/<%=@this_post.id%>" method="POST">  
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">    
                <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요" name="new_pwd" >   
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-danger" value="삭제"><br>
            </div> 
            <div class="col-md-4"></div>
        </form>
    </div>  
    <div class="col-md-2"></div>
</div>