<%= render :partial => "/article_board/navbar" %>

     <div class="col-md-8 col-md-offset-2 col-sm-12 co-xs-12">
     <div class="form-style-10" style="padding: 45px 0px 45px 0px;">
       <form action = "/article_board/freeboard_delete_process/<%=@this_post.id%>" method ="POST">
              <div class="section" style="padding-left: 40px"> 비밀번호 확인</div>
              <div class="inner-wrap">
                   <input type = "password" name = "delete_password"placeholder="&nbsp;비밀번호를 입력해주세요." required/>
            </div>
             <div style="text-align: center;">
                   <a class="button-section"  href="/article_board/freeboard_detail/<%=@this_post.id%>"
                    <input type="button" value="돌아가기">                 
                   </a>
                    <input class="button-section" type="submit" name="Sign Up" value="삭제하기"/>
              </div>
          </form>
        </div>
        </div>
          
          
              </div>
<%= render :partial => "/article_board/bottom" %>

