<!-- 수정 완료 -->
<%= render :partial => "/article_board/navbar" %>
<center>
<div style="height:200px">
    <h1><br><br>임시메인</h1>
            <% if user_signed_in? %>
         
          <a class="btn btn-success" href="/users/sign_out" data-method="delete">로그아웃</a></li>
        <% else %>
         <a class="btn btn-success"  href="/users/sign_in">로그인</a></li>
         <a class="btn btn-success"  href="/users/sign_up">회원가입</a></li>
        <% end %>
</div> 


<table border=1 width=800 style="font-size:15pt">
    <tr>
        <td>#</td>
     
        <td>제목</td>     
    </tr>

    <% @posts.each do |p| %>
        <tr>    
        <td><%=p.id%></td>

            <td><strong><a href="/article_board/detailpage/<%=p.id%>"> <%= p.title%></strong></a></td>
        </tr>
    <%end%>
</table>

<div class="row">
    <a href="/article_board/write" class="btn btn-primary btn-lg active" role="button">등록</a>
</div>      
</div>

</center>
