<h1>비밀번호를 입력해 주세요</h1>
<form action = "/article_board/article_delete/<%=@this_post.id%>" method ="POST">
    password : <input type = "password" name = "delete_password"><br>
    <input type = "submit" value = "확인">
</form>
<a href = "https://hackathon-woodykim-1.c9.io/article_board/detailpage/<%=@this_post.id%>">돌아가기</a>
