<h1><font color"red">비밀번호를 입력해 주세요</h1>
<form action = "/article_board/tmp_article_modify/<%=@this_post.id%>" method ="POST">
    password : <input type = "password" name = "modify_password"><br>
    <input type = "submit" value = "확인">
</form>