<!--수정 완료 -->

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <form class="form-horizontal" action="/article_board/tmp_write_process" method="POST" enctype="multipart/form-data">
          <fieldset>
            <legend>등록페이지 - 제출기한은 8월 23일까지입니다.</legend>
            

            <div class="form-group">
              <label class="col-lg-2 control-label">서비스명</label>
              <div class="col-lg-10">
                <input type="text" class="form-control"  name="title" placeholder="서비스명을 입력해주세요 (256Bytes)" required>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">비밀번호</label>
              <div class="col-lg-10">
                <input type="text" class="form-control"  name="password" placeholder="비밀번호를 입력해주세요" required>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">한줄 설명</label>
              <div class="col-lg-10">
                <input type="text" class="form-control"  name="summary" placeholder="서비스를 한 줄로 간단히 표현해주세요 (256Bytes)" required>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">데모링크</label>
              <div class="col-lg-10">
                <input type="text" class="form-control"  name="demo_link" placeholder="데모 링크를 걸어주세요 (http://는 제외하고 주소만 입력해주세요! 최대 256Bytes)" required>
              </div>
            </div>
            
            
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">상세 설명</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3"  name="content" required></textarea>
             
              </div>
            </div>

          <div class="form-group">
              <label class="col-lg-2 control-label">이미지 첨부</label>
              <div class="col-lg-10">
              <input type=file name="image_file">
              <span class="help-block">캡처 이미지, 손으로 그린 그림 등 모두 가능합니다.</span>
               </div>
            </div>

          <div class="form-group">
              <label class="col-lg-2 control-label">팀 리더 이름</label>
              <div class="col-lg-10">
                
                <input type="text" class="form-control"  name="leader_name" placeholder="리더이름을 입력해 (256Bytes)" required>
                
              </div>
            </div>



            
          <div class="form-group">
              <label class="col-lg-2 control-label">카카오톡</label>
              <div class="col-lg-10">
                
                <input type="text" class="form-control"  name="contact_kakao" placeholder="카카오톡 아이디(256Bytes)" required>
                <span class="help-block">등록한 연락처로 팀빌딩과 관련된 연락을 주고받을 수 있습니다. </span>
              </div>
            </div>
            
          <div class="form-group">
              <label class="col-lg-2 control-label">E-mail</label>
              <div class="col-lg-10">
                
                <input type="text" class="form-control"  name="contact_email" placeholder="이메일 주소 (256Bytes)" required>
                <span class="help-block">등록한 연락처로 팀빌딩과 관련된 연락을 주고받을 수 있습니다. </span>
              </div>
            </div>
            
<!--
          <div class="form-group">
              <label class="col-lg-2 control-label">태그</label>
              <div class="col-lg-10">
                <input type="text" class="form-control"  name="tag" placeholder="#맞팔#소통 금지 (미구현) (256Bytes)" required>
                <span class="help-block">최대 3개의 태그를 등록할 수 있습니다. 태그는 아이디어 검색에  사용됩니다.</span>
              </div>
            </div>           
-->        
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <a href="/" class="btn btn-default" role="button">메인으로</a>
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="submit" class="btn btn-primary">등록</button>
              </div>
            </div>
          </fieldset>
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>    
 