<!--수정 완료 -->
<%= render :partial => "/article_board/navbar" %>

  
  
<% if current_user.posting_check == 1 %>
    <div class="col-md-12" style="height:auto; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; margin:30px 0px 0px 0px; background-color: #e5e5e5;"> 
      <div style="padding: 27px 0px 30px 0px;">
      <span style="font-weight: 800; color:#727272; font-size: 120%;">아이디어 제출 |</span> 
      <span style="font-weight: 500; color:#b2b2b2; font-size: 120%;">&nbsp;아이디어를 제출 마감은 8월23일(일)입니다</span>
      </div>  
      </div>
      <div class="col-md-12" style="height:auto;; border-bottom: 1px solid #b7b7b7; margin:0px 0px 0px 0px; heigth: 200px; text-align:center; background-color: #e0dede;"> 
          <div class="col-md-12 col-xs-12 col-sm-12" style="padding: 58px 20px 58px 20px;">
            <span style="font-size: 120%; font-weight: 800; color:#EE9025; "> ! 이미 제출하였습니다 </span>
          </div>      
      </div>
<%else %>
    
       <div class="col-md-12" style="height:auto;; text-align:center; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; background-color: #e5e5e5; margin:0px 0px 0px 0px;"> 
        <div style="padding: 27px 0px 30px 0px;">
          <span style="font-weight: 800; color:#727272; font-size: 120%;">아이디어 제출 |</span> 
          <span style="font-weight: 500;color:#b2b2b2; font-size: 120%;">&nbsp;아이디어를 제출 마감은 8월23일(일)입니다</span>
        </div>
        </div>
     
     <div class="col-md-8 col-md-offset-2 col-sm-12 co-xs-12">
     <div class="form-style-10" style="padding: 45px 0px 45px 0px;">
          <form action="/article_board/write_process" method="POST" enctype="multipart/form-data" name="write_form" onsubmit="return overTag()">
            <input type="hidden" value="<%=current_user.email%>" name="posting_check_email">
              <div class="section" style="padding-left: 40px"> 서비스소개</div>
              <div class="inner-wrap">
                  <label><span style="margin-bottom: 10px; font-weight: 900;">서비스명(필수)</span> <input type="text" name="title" placeholder="&nbsp;서비스명을 입력해주세요." required/></label>
                  <label><span style="margin-bottom: 10px; font-weight: 900;">한줄설명(필수)</span> <input type="text" maxlength="20" name="summary" placeholder="&nbsp;서비스를 한문장으로 요약해주세요.(20자)" required /></label>
                  <label><span style="margin-bottom: 10px; font-weight: 900;">상세설명(필수)</span> <textarea rows="3" style="color: #66696B;" name="contents" placeholder="&nbsp;서비스에 대해 자유롭게 설명해주세요." required></textarea></label>
                  <label><span style="margin-bottom: 10px; font-weight: 900;">태그(필수/최대 3개)</span> <input type="text" name="tag" placeholder="&nbsp;예시) #O2O #SNS #음식 " required></input></label>
                  <label><span style="margin-bottom: 10px; font-weight: 900;">데모링크</span> <input type="text" style="color: #66696B;" name="demo_link" value="http://" /></label>      
                  <label><span style="margin-bottom: 10px; font-weight: 900;">이미지첨부</span> <div id="test" style="padding: 5px 10px 5px 10px;" > <input type=file name="image_file"> </div>
              </div>
          
              <div class="section" style="padding-left: 40px"> 팀/자기소개</div>
              <div class="inner-wrap">
                  <label><span style="margin-bottom: 10px; font-weight: 900;">팀대표자</span><input type="text" name="leader_name" placeholder="&nbsp;학교명/이름으로 입력해주세요." /></label>
                  <label><span style="margin-bottom: 10px; font-weight: 900;">팀구성원</span> <input type="text" name="member_name" placeholder="&nbsp;학교명/이름으로 입력해주세요. 콤마(,)로 구분됩니다" /></label>
              </div>
          
              <div class="section" style="padding-left: 40px"> 연락처</div>
                  <div class="inner-wrap">
                  <label><span style="margin-bottom: 10px; font-weight: 900;">카카오톡</span><input type="text" name="contact_kakao" placeholder="&nbsp;카카오톡 아이디를 입력해주세요."/></label>
                  <label><span style="margin-bottom: 10px; font-weight: 900;">이메일</span> <input type="email" name="contact_email" placeholder="&nbsp;이메일 주소를 입려해주세요." /></label>
              </div>
              
              <div class="section" style="padding-left: 40px"> 비밀번호</div>
                  <div class="inner-wrap">
                  <label><span style="margin-bottom: 10px; font-weight: 900;">비밀번호</span><input type="password" name="password" placeholder="&nbsp;수정시 필요한 비밀번호입니다." required/></label>
              </div>
              
              <div style="text-align: center;">
                   <a class="button-section"  href="/">
                    <input type="button" value="돌아가기">                 
                   </a>
                    <input class="button-section" type="submit" name="Sign Up" value="제출하기"/>
              </div>
          </form>
          </div>
     </div>
     
 
   
<%end%>  
</div>

<script>
function countTag(string) {
    var freq = 0;
    var character;
    for (i=0; i<string.length ; i++) {
        character = string.charAt(i);
        if (character == "#") {
          freq++;
        }
    }
    return freq;
}

function overTag(form) {
  var tag_string = document.forms["write_form"]["tag"].value;
  var numberOfTag = countTag(tag_string)
  if (numberOfTag == 3){
    alert("태그를 입력해 주세요!");
    return false;
  }
  else if (countTag(tag_string) > 3) {
    alert("태그는 3개까지 등록이 가능합니다!");
    return false;
  }
}
</script>
  
  
    <script type="text/javascript">
      //auto expand textarea
      function adjust_textarea(h) {
          h.style.height = "20px";
          h.style.height = (h.scrollHeight)+"px";
      }
    </script>
    
<%= render :partial => "/article_board/bottom" %>