/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 /*
 *= require_self
 */
 @import "bootstrap.css.scss";

 ::selection{
          color: #f49230;
          background-color: #6b6b6b;
 }
 
 a:focus, a:hover {
    color: #ec8f34;
    text-decoration: none;
}

#login {
    background-color:#EB8E34; 
    height:100px; 
    margin-bottom:0px; 
    text-align: center; 
    border-radius: 10px;
    line-height: 100px;
    color: #E2E2E2;
    font-size: 200%;
    box-shadow: 0px 2px 4px #272827;
}


#login:hover {
    color: white;
    background-color:#717171;
    font-weight: 900;
}


 #top_logo {
    height: 100%;
    min-width: 80px;
    max-width: 250px;
    margin: 0 0 10 0;
 }
 


.video-container {
    width: 100%;
    height: 100%;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    
}
.page-scroll {
    font-weight: 800;
}

.navbar {
    box-shadow:none;;
}

.collapsible-header {
    height: 60px;
    background-image: url('/image/bar.png');
    background-size: 100% auto;
    box-shadow: 0px 3px 5px gray;
    border-bottom: 1px solid #303130 ;
    color: #DCDCDC;
    font-weight: 700;
    font-size: 130%;
    line-height: 60px;
    padding-left: 30px;
}

#block {
    padding: 0px 15px 0px 15px; 
    margin-bottom: 0px; 
    background-color: #e2e2e2; 
   box-shadow: 0px 1px 1px gray;
    padding: 30px;
}
