/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 /*
 *= require_self
 */
 @import "bootstrap.css.scss";
 @import "article_board.css";



.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}


.cd-top {
    position: fixed;
    z-index: 999;
}


.list-group-item {
    border: 0px;
    
}

.list-group {
    border: 0px;
    box-shadow: none;
    margin: 0px;
}




.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}


#11:visited {
    color: white;
    
    
}

#test{
    min-height: 40px;
    height: auto;
    color: #636262;
    margin-top: 7px;
    background-color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    font-size: 15px;
    line-height: 25px;
    padding: 20px;
    font-weight: 500;
    }
    
#test2{
    min-height: 40px;
    height: auto;
    color: #636262;
    margin-top: 7px;
    background-color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    font-size: 15px;
    line-height: 25px;
    padding: 5px 20px 5px 20px;
    font-weight: 500;
    }

#test3{
    width: 100%;
    height: auto;
    color: #636262;
    margin-top: 3px;
    padding-bottom: 10px;
    background-color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    font-size: 13px;
    line-height: 20px;
    padding: 5px 20px 5px 13px;
    font-weight: 500;
    }

#test4{
    height: auto;
    color: #636262;
    margin-top: 7px;
    background-color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    font-size: 13px;
    line-height: 25px;
    padding: 5px 20px 5px 20px;
    font-weight: 300;
    }


.form-style-10{
    width: 100%;
    padding:0px;
    margin:40px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    opacity: 0.8;
}

.form-style-10-2{
    width: 100%;
    padding:0px;
    margin:40px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}


.form-style-10 .inner-wrap{
    padding: 30px 40px 30px 40px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-style-10 h1{
    background: #f99636;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #f99636;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-style-10 label{
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffad60;
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    margin-top: 7px;
    
}

.form-style-10 .section{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f99636;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 150%;
}
.form-style-10 .section span {
    background: #f99636;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
    background: #f99636;
    padding: 12px 30px 12px 30px;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    color: white;;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #f99636;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
    background: #EA8D33;
}







.form-style-10-2 .inner-wrap{
    padding: 30px 40px 30px 40px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-style-10-2 h1{
    background: #f99636;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #f99636;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-style-10-2 h1 > span{
    display: block;
    margin-top: 2px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-style-10-2 label{
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffad60;
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-style-10-2 input[type="text"],
.form-style-10-2 input[type="date"],
.form-style-10-2 input[type="datetime"],
.form-style-10-2 input[type="email"],
.form-style-10-2 input[type="number"],
.form-style-10-2 input[type="search"],
.form-style-10-2 input[type="time"],
.form-style-10-2 input[type="url"],
.form-style-10-2 input[type="password"],
.form-style-10-2 textarea,
.form-style-10-2 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    margin-top: 7px;
    
}

.form-style-10-2 .section{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f99636;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 150%;
}
.form-style-10-2 .section span {
    background: #f99636;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.form-style-10-2 input[type="button"], 
.form-style-10-2 input[type="submit"]{
    background: #f99636;
    padding: 12px 30px 12px 30px;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    color: white;;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #f99636;
}
.form-style-10-2 input[type="button"]:hover, 
.form-style-10-2 input[type="submit"]:hover{
    background: #EA8D33;
}



#reply_button {
    height: 34px;
    padding: 0px 10px 0px 10px;
    background: #f99636;
    border-radius: 5px;
    color: white;;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #f99636;
}

#reply_button:hover {
    background: #EA8D33;
}


.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}


.back_all {
    width: 100%;
    height: 100%;
    background-image: url("/image/backgroung2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
}



.button2 {
    background-color: #8F8F8F; 
    color: white; 
    padding: 6px 13px 7px 13px; 
    border-radius: 3px; 
    border: none; 
    font-weight: 800;
}


.button2:hover {
    background-color: #ec9f44;
    color: white;
}



#tag_li {
    list-style-type: none;
    display: inline-block;
    background-color: #bab8b8;
    font-weight: 500;
    font-size: 120%;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    padding: 3px 4px 3px 4px;
    
}


#tag_li:hover {
    list-style-type: none;
    display: inline-block;
    background-color: #E98D33;
    font-weight: 500;
    font-size: 120%;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    padding: 3px 4px 3px 4px;
    
}
.thumbnail {
    border-radius: 20px; 
    padding: 15px; 
    margin-bottom:30px;
    min-height: 434px;

}

.thumbnail:hover {
    background-color: #f7f7f7;
    border-radius: 20px; 
    padding: 15px; 
    margin-bottom:30px;
    min-height: 434px;

}


#option_nav {
    height: 100%;
    height: 40px;
    background-color: #ECA74B;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #272827;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    color: white;
}

#option_nav2 {
    height: 100%;
    height: 50px;
    background-color:  #EA8D33;    
    border-radius: 5px;
    box-shadow: 0px 2px 4px #272827;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    color: white;
}

#option_nav:hover {
 background-color:  #EA8D33;
}
 
 
#option_nav:visited {
 background-color:  #878787;
 color: white;
}




 ::selection{
          color: #f49230;
          background-color: #6b6b6b;
 }
 
 a:focus, a:hover {
    color: #ec8f34;
    text-decoration: none;
}

#login {
    background-color:#EB8E34; 
    height:100px; 
    margin-bottom:0px; 
    text-align: center; 
    border-radius: 10px;
    line-height: 100px;
    color: white; 
    font-size: 200%;
    box-shadow: 0px 2px 4px #272827;
}


#login:hover {
    color: white;
    background-color:#717171;
    font-weight: 900;
}


 #top_logo {
    height: 100%;
    min-width: 80px;
    max-width: 250px;
    margin: 0 0 10 0;
 }
 


.video-container {
    width: 100%;
    height: 100%;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    
}
.page-scroll {
    font-weight: 800;
}

.navbar {
    box-shadow:none;;
}

.collapsible-header {
    height: 60px;
    background-image: url('/image/bar.png');
    background-size: 100% auto;
    box-shadow: 0px 3px 5px gray;
    border-bottom: 1px solid #303130 ;
    color: #DCDCDC;
    font-weight: 700;
    font-size: 130%;
    line-height: 60px;
    padding-left: 30px;
}

#block {
    padding: 0px 15px 0px 15px; 
    margin-bottom: 0px; 
    background-color: #e2e2e2; 
   box-shadow: 0px 1px 1px gray;
    padding: 30px;
}


.video-container {
height: auto;
width: auto;
display: block;
position: fixed;
overflow: hidden;
z-index: -10000;
background: url(/logo.png);
 }

